@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --white: #fff;
  --black: #000102;
  --blue-ocean-primary: #15616d;
  --blue-ocean-secondary: #669ead;
  --border: #669ead31;
  --blue-ocean-terciary: #76a0ac;
  --blue-ocean-light: #bde3ec;
  --background-module: rgba(0, 39, 48, 0.295);
  --gray-primary: rgba(255, 255, 255, 0.411);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}
a:hover {
  color: var(--blue-ocean-light);
}
button {
  cursor: pointer;
  border: none;
}

.block--width {
  margin: auto;
  width: 80%;
}

.btn--primary {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--white);
  color: var(--blue-ocean-primary);
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.btn--primary:hover {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.btn--secondary {
  padding: 10px 20px;
  border: none;
  color: var(--white);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--blue-ocean-secondary);
  transition: all 0.3s ease-in-out;
}
.btn--secondary:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--blue-ocean-primary);
}

.block {
  display: block;
}
.m--fix {
  margin: 0 -7px;
}

.p--fix {
  padding: 0 10px;
}

.clear--content {
  position: sticky;
  top: 0;
  background-color: var(--black);
  height: 20px;
  width: 100%;
  z-index: 99999;
}

header {
  height: 100px;
  width: 100%;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100000;
}

.header__container {
  width: 98%;
  min-height: 100px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.header__container > img {
  width: auto;
  height: 50px;
}
.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nav__menu > li > a {
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero__container {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: url("../images/backgrounds/hero-background.webp") no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__content {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.15);
  -webkit-backdrop-filter: brightness(0.15);
  user-select: none;
}

.hero__content div {
  line-height: 50px;
}

.hero__content div:nth-child(1) {
  color: var(--blue-ocean-secondary);
}

.hero__content div:nth-child(2) {
  color: var(--blue-ocean-terciary);
}

.hero__content div:nth-child(3) {
  color: var(--blue-ocean-light);
}

.hero__content--title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
  width: 90%;
}

.hero__content--subtitle {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  padding: 20px;
  padding-bottom: 100px;
  max-width: 800px;
  width: 90%;
}

.features__container {
  height: auto;
  padding-top: 200px;
  margin: auto;
}

.features__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}
.features__text {
  margin: auto;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.features__text__title {
  font-size: 30px;
  width: 100%;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
}
.features__text__title span {
  font-family: "joefin sans", sans-serif;
  font-weight: 900;
}

.features__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0px;
}

.slime__container {
  width: 200px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.slime__content {
  overflow: hidden;
  background: -moz-linear-gradient(
    315deg,
    rgba(29, 53, 87, 0.9),
    rgba(69, 123, 157, 0.7)
  );
  background: -webkit-linear-gradient(
    315deg,
    rgba(29, 53, 87, 0.9),
    rgba(69, 123, 157, 0.7)
  );
  background: linear-gradient(
    315deg,
    rgba(29, 53, 87, 0.9),
    rgba(69, 123, 157, 0.7)
  );
  animation: animate-slime 5s linear infinite, move-slime 10s linear infinite;
  position: relative;
  top: 40%;
  width: 150px;
  height: 150px;
  margin-top: 5vw;
  z-index: -1;
}

.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  text-align: center;
}
.slime__container:hover {
  transform: scale(1.048);
}
.slime__container:hover:nth-child(1) .slime__content {
  animation: hover-red infinite 0.5s, animate-slime 5s linear infinite,
    move-slime 10s linear infinite;
  transition: all 0.5s ease;
}
.slime__container:hover:nth-child(2) .slime__content {
  animation: hover-green infinite 0.5s, animate-slime 5s linear infinite,
    move-slime 10s linear infinite;
  transition: all 0.5s ease;
}

.card__content {
  padding: 3px 3px 10px 3px;
  font-family: "josefin sans", sans-serif;
}
.card__content h3 {
  color: var(--blue-ocean-secondary);
  font-size: 24px;
  font-weight: 700;
}
.card__content p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
}

.card img {
  padding-top: 20px;
  height: 50%;
}
.text--gradient {
  background: var(--blue-ocean-secondary);
  background: linear-gradient(45deg, #669ead 0%, #bde3ec 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutUs__container {
  min-height: 60vh;
  height: auto;
  margin: auto;
  width: 100%;
  background: url("../images/backgrounds/background-aboutus.jpg") no-repeat;
  background-position: initial;
  background-size: cover;
}
.aboutUs__content {
  width: 100%;
  min-height: 60vh;
  height: 100%;
  backdrop-filter: brightness(0.15) saturate(80%);
  -webkit-backdrop-filter: brightness(0.15) saturate(80%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.primary--title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.aboutUs__content p {
  padding-top: 50px;
  width: 70%;
  text-align: center;
  font-size: 18px;
  opacity: 0.7;
  font-weight: 400;
}

.contact__content {
  padding: 30px 0px;
  text-align: center;
}
.contact__social {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 20px 0px;
}
.contact__social a {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
.contact__social a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.contact__social a img {
  width: 100%;
  height: 100%;
}
.mail {
  font-size: smaller;
  opacity: 0.8;
  text-decoration: underline;
}

.heroContainer__login {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: url("../images/backgrounds/hero-background.webp") no-repeat;
  background-position: center;
  background-size: cover;
}

.heroContent__login {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.15);
  -webkit-backdrop-filter: brightness(0.15);
  user-select: none;
}
.login__container {
  max-width: 400px;
  height: 400px;
  width: 90%;
  border-radius: 10px;
  z-index: 99999;
  border: 1px solid var(--border);
  background: var(--background-module);
}
.login__content {
  width: 100%;
  height: 100%;
  display: flex;
  border: 2px solid wheat;
}

.flex--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gap--15 {
  gap: 15px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 0px 10px;
  background: var(--background-module);
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid var(--white);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: var(--gray-primary);
  font-size: 14px;
  font-weight: 400;
}

.heroContainer__register {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: url("../images/backgrounds/hero-background.webp") no-repeat;
  background-position: center;
  background-size: cover;
}

.heroContent__register {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.15);
  -webkit-backdrop-filter: brightness(0.15);
  user-select: none;
}
.register__container {
  max-width: 400px;
  height: 400px;
  width: 90%;
  border-radius: 10px;
  z-index: 99999;
  border: 1px solid var(--border);
  background: var(--background-module);
}
.login__content {
  width: 100%;
  height: 100%;
  display: flex;
  border: 2px solid wheat;
}
